@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #303030;
}
body header {
  width: 100%;
  height: 115px;
  position: fixed;
  top: 0;
  background-color: #C2924D;
  z-index: 1;
}
body header .logo {
  width: 115px;
}
body header .navegacion .container-fluid .btnNav {
  border: none;
}
body header .navegacion .container-fluid .btnNav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 239, 231, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body header .navegacion .container-fluid .navbar-collapse .navbar-nav .navTextColor {
  list-style: none;
  display: inline-block;
}
body header .navegacion .container-fluid .navbar-collapse .navbar-nav .navTextColor a {
  margin: 0 0 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: #EEEFE7;
  transition: color 0.5s;
}
body header .navegacion .container-fluid .navbar-collapse .navbar-nav .navTextColor a:hover {
  color: #97501A;
}
body header .navegacion .container-fluid .navbar-collapse .navbar-nav .navTextColor .subLista {
  border: none;
  background-color: #C2924D;
  padding-right: 10px;
}
body header .navegacion .container-fluid .navbar-collapse .navbar-nav .navTextColor .subLista li {
  display: grid;
}
body main {
  margin: 160px 20px 20px 20px;
}
body main h1 {
  font-size: 3rem;
  color: #C2924D;
}
body main h2 {
  color: #C2924D;
  margin-bottom: 20px;
}
body main p {
  color: #EEEFE7;
}
body footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEFE7;
  padding: 20px 12%;
  text-align: center;
  margin-top: 50px;
}
body footer .linkFooter {
  margin: 0 0 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  font-size: 35px;
  margin: 0 20px;
  color: #C2924D;
  transition: color 0.5s;
}
body footer .linkFooter:hover {
  color: #97501A;
}
body footer .copyright {
  margin-top: 20px;
  color: #C2924D;
  font-weight: 500;
}
body .descripcion {
  font-size: 20px;
}
body .descripcion .precio {
  font-weight: bold;
  color: #C2924D;
  margin: 10px 0;
}

@keyframes subtitulo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tituloBienvenida {
  text-align: center;
}

.containerBienvenida {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.containerBienvenida .fraseBienvenida {
  width: 50%;
  text-align: center;
  color: #EEEFE7;
  text-shadow: 2px 2px 4px rgba(194, 146, 77, 0.5);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  animation-name: subtitulo;
  animation-duration: 1s;
}

.containerSecciones {
  margin-bottom: 70px;
}
.containerSecciones .boxSecciones {
  width: 100%;
  margin: 100px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerSecciones .boxSecciones .imgSeccion {
  width: 45%;
  object-fit: contain;
}
.containerSecciones .boxSecciones .parrafoSeccion {
  font-size: 1.23rem;
  margin: 0 25px 0 25px;
}
.containerSecciones .boxSecciones .parrafoSeccion strong {
  color: #C2924D;
}

.seccionNavImg {
  display: flex;
  justify-content: center;
  width: 100%;
}
.seccionNavImg .containerNavImgProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}
.seccionNavImg .containerNavImgProductos .navProductos {
  margin: 25px 15px;
}
.seccionNavImg .containerNavImgProductos .navProductos .navImg {
  width: 100%;
  height: 90%;
}
.seccionNavImg .containerNavImgProductos .navProductos .navImg:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.containerProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
  gap: 15px;
}
.containerProductos .boxProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  min-height: 350px;
}
.containerProductos .boxProductos .imgProductos {
  width: 100%;
  height: 200px;
}
.containerProductos .boxProductos .containerDescripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.23rem;
  height: 100%;
}
.containerProductos .boxProductos .containerDescripcion .descripcion {
  width: 100%;
  overflow-y: auto;
  margin: 10px 0 20px 0;
}
.containerProductos .boxProductos .containerDescripcion .precio {
  color: #C2924D;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 20px;
}
.containerProductos .boxProductos .botonComprar {
  margin-top: auto;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #EEEFE7;
  color: #C2924D;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}
.containerProductos .boxProductos .botonComprar:hover {
  background-color: #C2924D;
  color: #EEEFE7;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.tituloServicios {
  font-size: 3rem;
}

.containerServicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerServicios .boxCards {
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: #252525;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.containerServicios .boxCards .containerImg {
  width: 45%;
  height: auto;
}
.containerServicios .boxCards .containerImg .imgServicios {
  width: 100%;
  height: 100%;
}
.containerServicios .boxCards .containerDescripcion {
  width: 55%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.containerServicios .boxCards .containerDescripcion .tituloCardServicios {
  text-align: center;
  font-size: 1.8rem;
  color: #97501A;
}
.containerServicios .boxCards .containerDescripcion .parrafoServicios {
  font-size: 1.23rem;
}
.containerServicios .boxCards .containerDescripcion .subTituloServicios {
  font-size: 1.5rem;
  color: #C2924D;
}
.containerServicios .boxCards .containerDescripcion .listaServicios {
  color: #C2924D;
  font-style: italic;
  font-weight: 400;
  list-style-type: "✓";
  padding-left: 10px;
}
.containerServicios .boxCards .containerDescripcion .containerBtnServicios {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.containerServicios .boxCards .containerDescripcion .containerBtnServicios .btnServicios {
  background-color: #EEEFE7;
  width: 7rem;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #C2924D;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  transition: background-color 0.5s;
}
.containerServicios .boxCards .containerDescripcion .containerBtnServicios .btnServicios:hover {
  background-color: #C2924D;
  color: #EEEFE7;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.seccionHistoria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.seccionHistoria .tituloHistoria {
  font-size: 3rem;
}
.seccionHistoria .contenidoHistoria {
  display: flex;
  flex-direction: row;
  margin: 0 25px;
}
.seccionHistoria .contenidoHistoria .historia {
  font-size: 1.23rem;
  width: 90%;
  margin-right: 30px;
}
.seccionHistoria .contenidoHistoria h2 {
  font-size: 2rem;
}
.seccionHistoria .contenidoHistoria video {
  width: 40%;
}

.contenedorForm {
  display: inline-block;
  width: 40%;
  height: 580px;
  margin: 5px 40px;
}
.contenedorForm label {
  display: block;
  margin-top: 10px;
  padding-bottom: 5px;
  color: #C2924D;
  font-weight: bold;
}
.contenedorForm .input, .contenedorForm textarea {
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 0;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: #948E7A;
  color: #97501A;
  font-size: 14px;
}
.contenedorForm textarea {
  width: 90%;
  font-weight: bold;
}
.contenedorForm .enviar, .contenedorForm .restablecer {
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 0;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: #C2924D;
  color: #EEEFE7;
  cursor: pointer;
  transition: background-color 0.5s;
}
.contenedorForm .enviar:hover, .contenedorForm .restablecer:hover {
  background-color: #97501A;
}

.contactoUbicacion {
  display: inline-block;
  width: 50%;
}
.contactoUbicacion .contactoCerveceria {
  display: flex;
}
.contactoUbicacion .contactoCerveceria .fa-whatsapp, .contactoUbicacion .contactoCerveceria .fa-envelope {
  color: #C2924D;
  margin: 15px 5px 15px 15px;
}
.contactoUbicacion .contactoCerveceria .contacto {
  display: inline;
  color: #C2924D;
  margin: 0 5px;
}
.contactoUbicacion .tituloUbicacion {
  margin: 15px 0;
}
.contactoUbicacion iframe {
  width: 100%;
}

@media (max-width: 767px) {
  body {
    /* Estilos resposive error404.html */
    /* Estilos resposive del footer */
  }
  body header {
    height: auto;
  }
  body header nav .container-fluid .btnNav {
    border-color: #EEEFE7;
  }
  body main {
    margin-bottom: 100px;
    /* estilos responsive index.html */
    /* Estilos responsive productos */
    /* Estilos responsive servicios.html */
    /* Estilos responsive nosotros.html */
    /* Estilos responsive contacto.html */
  }
  body main h1 {
    text-align: center;
  }
  body main .containerBienvenida .fraseBienvenida {
    width: 95%;
    margin-bottom: 60px;
  }
  body main .containerSecciones {
    margin: 35px 0;
  }
  body main .containerSecciones .boxSecciones {
    margin: 5px 0;
  }
  body main .containerSecciones .boxSecciones .imgSeccion {
    margin: 20px 0;
    width: 90%;
  }
  body main .containerSecciones .boxSecciones .imgSeccion:nth-child(2n) {
    order: 2;
  }
  body main .containerSecciones .boxSecciones .imgSeccion:nth-child(2n+1) {
    order: 3;
  }
  body main .containerSecciones .boxSecciones .parrafoSeccion {
    margin-top: 25px;
    text-align: center;
  }
  body main .seccionNavImg .containerNavImgProductos {
    flex-direction: column;
  }
  body main .seccionNavImg .containerNavImgProductos .navProductos {
    margin: 0 0 15px 0;
  }
  body main .seccionNavImg .containerNavImgProductos .navProductos a .navImg {
    width: 100%;
    margin: 40px 0;
  }
  body main .containerProductos {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  body main .containerProductos .boxProductos {
    width: 80%;
  }
  body main .containerServicios .boxCards .containerImg {
    width: 100%;
    padding: 0;
  }
  body main .containerServicios .boxCards .containerDescripcion {
    width: 100%;
  }
  body main .seccionHistoria .tituloHistoria {
    text-align: center;
  }
  body main .seccionHistoria .contenidoHistoria {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body main .seccionHistoria .contenidoHistoria .containerHistoria .historia {
    width: 100%;
    margin-bottom: 50px;
  }
  body main .seccionHistoria .contenidoHistoria video {
    width: 90%;
  }
  body main .contenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main .contenedorContacto .contenedorForm {
    width: 100%;
  }
  body main .contenedorContacto .contactoUbicacion {
    width: 100%;
    margin-top: 150px;
  }
  body main .contenedorContacto .contactoUbicacion .contactoCerveceria {
    width: 100%;
    flex-direction: column;
  }
  body main .contenedorContacto .contactoUbicacion iframe {
    width: 90%;
  }
  body .imgError404 {
    max-width: 100vw;
    max-height: 65vh;
  }
  body footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  body footer .redesSociales {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    /* Estilos resposive error404.html */
    /* Estilos resposive del footer */
  }
  body header {
    height: auto;
  }
  body main {
    /* Estilos responsive index.html */
    /* Estilos responsive productos */
    /* Estilos responsive servicios.html */
    /* Estilos responsive nosotros.html */
    /* Estilos responsive contacto.html */
  }
  body main h1 {
    text-align: center;
  }
  body main .containerBienvenida .fraseBienvenida {
    width: 80%;
  }
  body main .containerSecciones .boxSecciones {
    margin: 50px 0;
  }
  body main .containerSecciones .boxSecciones .parrafoSeccion {
    margin-right: 0;
  }
  body main .containerNavImgProductos .navProductos {
    margin: 0 200px;
  }
  body main .containerProductos {
    grid-template-columns: repeat(2, 1fr);
  }
  body main .containerServicios .boxCards .containerImg {
    width: 100%;
    padding: 0;
  }
  body main .containerServicios .boxCards .containerDescripcion {
    width: 100%;
  }
  body main .seccionHistoria .tituloHistoria {
    text-align: center;
  }
  body main .seccionHistoria .contenidoHistoria {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body main .seccionHistoria .contenidoHistoria .containerHistoria .historia {
    width: 100%;
    margin-bottom: 50px;
  }
  body main .seccionHistoria .contenidoHistoria video {
    width: 90%;
  }
  body main .contenedorContacto {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  body main .contenedorContacto .contenedorForm {
    width: 45%;
    height: auto;
    padding: 0;
  }
  body main .contenedorContacto .contactoUbicacion {
    width: 55%;
    margin-top: 20px;
  }
  body main .contenedorContacto .contactoUbicacion .contactoCerveceria {
    width: 100%;
    flex-direction: column;
  }
  body main .contenedorContacto .contactoUbicacion iframe {
    width: 100%;
  }
  body .imgError404 {
    max-width: 100vw;
    max-height: 65vh;
  }
  body footer {
    flex-direction: column;
    padding: 20px 40px;
  }
}
body .containerError404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .containerError404 .tituloError404 {
  font-size: 3rem;
  color: #C2924D;
  text-align: center;
  margin: 25px 0;
}
body .containerError404 .descripcionError404 .subtituloError404 {
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  color: #EEEFE7;
  text-align: center;
}
body .containerError404 .btnVolverAlInicio {
  align-self: center;
  margin-top: 20px;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #EEEFE7;
  color: #C2924D;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}
body .containerError404 .btnVolverAlInicio:hover {
  background-color: #C2924D;
  color: #EEEFE7;
  transform: scale(1.2);
  transition: transform 0.5s;
}
body .imgError404 {
  height: 350px;
  width: auto;
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
