@mixin estilosFormulario {
    display: inline-block;
    font-weight: bold;
    padding: 5px 0;
    margin: 5px 0;
    width: 90%;
    border: none;
    border-radius: 5px;
}

.contenedorForm {
    display: inline-block;
    width: 40%;
    height: 580px;
    margin: 5px 40px;

    label {
        display: block;
        margin-top: 10px;
        padding-bottom: 5px;
        color: $colorSecundario1;
        font-weight: bold;
    }

    .input {
        @include estilosFormulario;
        background-color: $colorBgInput;
        color: $colorSecundario2;
        font-size: 14px;
        
    }

    textarea {
        width: 90%;
        background-color: $colorBgInput;
        color: $colorSecundario2;
        font-weight: bold;
    }

    .enviar, .restablecer {
        @include estilosFormulario;
        background-color: $colorSecundario1;
        color: $colorSecundario3;
        cursor: pointer;
        transition: background-color 0.5s;
        &:hover {
            background-color: $colorSecundario2;
        }
    }
}

.contactoUbicacion {
    display: inline-block;
    width: 50%;

    .contactoCerveceria {
        display: flex;

        .fa-whatsapp, .fa-envelope {
            color: #C2924D;
            margin: 15px 5px 15px 15px;
        }

        .contacto {
            display: inline;
            color: #C2924D;
            margin: 0 5px;
        }
    }

    .tituloUbicacion {
        margin: 15px 0;
    }

    iframe {
        width: 100%;
    }
}