.seccionHistoria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .tituloHistoria {
        font-size: 3rem;
    }

    .contenidoHistoria {
        display: flex;
        flex-direction: row;
        margin: 0 25px;

        .historia {
            width: 90%;
            margin-right: 30px;
        }

        video {
            width: 40%; 
        }
    }
}