//Paleta de colores

$colorPrincipal: #303030;
$colorSecundario1: #C2924D;
$colorSecundario2: #97501A;
$colorSecundario3: #EEEFE7;
$colorProductos: #252525;
$colorBgInput: #948E7A;


//Fuentes

$FuentePrincipal: 'Rubik', sans-serif;


//tamaño de fuentes

$tituloPrincipal: 3rem;
$subtitulo: 2rem;
$subtitulo2: 1.8rem;
$parrafo: 1.23rem;